TARGET_MODEL_PATH=python_server/CIFAR10/target/3000/best_checkpoint_ep.pth
SHADOW_MODEL_PATH=python_server/CIFAR10/shadow_json_aligned/best_checkpoint_ep.pth
SHADOW_MODEL_DROPOUT=1

HOST_TARGET_PORT=8000
HOST_SHADOW_PORT=8001

LABELSCAN_PRESET=standard

SHADOW_JSON_PATH=shadow_train_data.json
SHADOW_TRAIN_INDICES_PATH=python_server/CIFAR10/shadow_json_aligned/train_indices.json
SHADOW_RED_QUANTILE=40
MODEL_DROPOUT_P=0.5
