TARGET_MODEL_PATH=python_server/CIFAR10/target/3000/best_checkpoint_ep.pth
SHADOW_MODEL_PATH=python_server/CIFAR10/shadow/3000/best_checkpoint_ep.pth

HOST_TARGET_PORT=8000
HOST_SHADOW_PORT=8001

TARGET_API=http://target-oracle:8000
SHADOW_API=http://shadow-oracle:8001

SHADOW_CONFIG_PATH=shadow_config.json
CALIBRATION_DATA_PATH=data/cifar-10-batches-bin/test_batch.bin
MEMBER_DATA_PATH=data/cifar-10-batches-bin/data_batch_1.bin
NON_MEMBER_DATA_PATH=data/cifar-10-batches-bin/test_batch.bin
OUTPUT_REPORT_PATH=output/audit_report.json

CALIBRATION_CANDIDATE_COUNT=100
CALIBRATION_TARGET_COUNT=10
MIN_VALID_STRANGERS=5
MEMBER_SAMPLE_COUNT=5
NON_MEMBER_SAMPLE_COUNT=5
AUDIT_WORKERS=20
